@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
  font-family: 'Favorit', sans-serif;
  src: url('/path-to-your-font/favorit.woff2') format('woff2');
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Favorit', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Container that holds the image */
.image-container {
  width: 600px;  /* Set desired box size */
  max-width: 600px;
  height: 600px; /* Set desired box size */
  overflow: hidden; /* Hide the parts of the image that exceed the container */
  position: relative;
}

/* Image styling */
.image {
  position: absolute;
  /* width: 150%;  Make the image larger than the container */
  /* height: 150%; Make the image larger than the container */
  animation: moveImage 20s ease-in-out;
}

/* Keyframes for moving the image and zooming out */
@keyframes moveImage {
  0% { transform: translate(70%,-20%) scale(2);}
  15% {transform: translate(70%, -20%) scale(2);}
  20%{ transform: translate(70%,75%) scale(2);}
  35%{ transform: translate(70%,75%) scale(2);}
  40%{ transform: translate(10%,37%) scale(2);}
  55%{ transform: translate(10%,37%) scale(2);}
  60%{transform: translate(-40%, 5%) scale(2);}
  75%{transform: translate(-40%, 5%) scale(2);}
  80%{ transform: translate(65%, -42%) scale(2)}
  95%{ transform: translate(65%, -42%) scale(2)}
  100% { transform: translate(0, 0) scale(1); }
}

@media (max-width: 1024px) {
  .image-container {
    max-width: 500px;
    max-height: 500px;
  }
}

@media (max-width: 768px) {
  .image-container {
    max-width: 400px;
    max-height: 400px;
  }
}

@media (max-width: 640px) {
  .image-container {
    max-width: 300px;
  }
}
@media (max-width: 440px) {
  .image-container {
    max-width: 280px;
  }
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

