@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
  font-family: 'Favorit', sans-serif;
  src: url('/path-to-your-font/favorit.woff2') format('woff2');
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Favorit', sans-serif;
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Container that holds the image */
/* .image-container {
  height: 600px; 
  overflow: hidden; 
  position: relative;
}
@media screen and (max-width:900px) {
  .image-container{
    height: 700px;
  }
}
@media screen and (max-width:700px) {
  .image-container{
    height: 600px;
  }
}
@media screen and (max-width:500px) {
  .image-container{
    height: 400px;
  }
}

.image {
  position: absolute;
  animation: moveImage 20s ease-in-out;
}

@keyframes moveImage {
  0% { transform: translate(100%,-25%) scale(3)}
  15% {transform: translate(100%,-25%) scale(3)}
  20%{ transform: translate(70%,100%) scale(2);}
  35%{ transform: translate(70%,100%) scale(2);}
  40%{ transform: translate(20%,50%) scale(2);}
  55%{ transform: translate(20%,50%) scale(2);}
  60%{transform: translate(-40%, 10%) scale(2);}
  75%{transform: translate(-40%, 10%) scale(2);}
  80%{ transform: translate(65%, -50%) scale(2);}
  95%{ transform: translate(65%, -50%) scale(2);}
  100% { transform: translate(0, 0) scale(1); }
}


.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

.throbbing{
  animation: throb 1s infinite;
}

@keyframes throb {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
} */

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-738px); } /* Adjust based on total width */
}

@media screen and (max-width:360px) {
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-728px); } /* Adjust based on total width */
  }
}


.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite; /* Adjust duration for speed */
  width: calc(100% * 2); /* Ensures it covers both sets */
  will-change: transform;
}


